<a href="https://colab.research.google.com/github/agatdul/test/blob/main/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello')

hello

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
test_df = pd.read_csv('sample_data/california_housing_test.csv')
test_df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
x = sum(test_df['housing_median_age'])
print(x)

86536.0

In [ ]:
y = sum(test_df['median_income']) * x
print(y)

988398217.4543995

In [1]:
print('this working?')

this working?